* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --main-text-color: #f4f4f4;
    --translucent-text-color: #f4f4f440;
    --main-bg-color: #101010;
    --ok-color: #94bc0e;
    --thumb-color: #078BC9;
    --translucent-thumb-color: #078BC980;
    --light-submit-color: #2ACDE8;
    --translucent-light-submit-color: #2ACDE880;
}

body {
    background: var(--main-bg-color);
    font-family: "Franklin Gothic", Verdana, Tahoma, sans-serif;
    font-size: 14pt;
}

#p5-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

.content {
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-horiz {
    flex-direction: row;
}

.flex-spaced-row {
    width: 100%;
    height: fit-content;
    justify-content: space-evenly;
}

.flex-vert {
    flex-direction: column;
}

.black-box {
    padding: 32px;
    border-radius: 32px;
    color: var(--main-text-color);
    background: #10101080;
    backdrop-filter: blur(32px);
    min-width: 480px;
}

.black-box.flex {
    gap: 16px;
}

.black-box h1, .black-box h2 {
    text-align: center;
}

.character-container {
    width: 320px;
    height: 320px;
    position: relative;
    cursor: crosshair;
}

.character-container .character {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-button {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.icon-button:hover {
    transform: scale(110%);
}

.audio-controls .icon-button {
    width: 48pt;
}

.settings label.disabled {
    opacity: 75%;
    text-decoration: line-through 2px;
    font-style: italic;
}

.settings input[type=text],
.settings input[type=password],
.settings textarea,
.settings input[type=number] {
    transition: all 0.2s ease-in-out;
    font: inherit;
    background: #3E3C39;
    color: var(--main-text-color);
    padding: 4pt;
    border: none;
    border-radius: 4pt;
}

.settings input[type=text]:disabled,
.settings input[type=password]:disabled,
.settings textarea:disabled,
.settings input[type=number]:disabled {
    background: #4d5156;
    color: #a3a2a4;
    filter: blur(6pt);
}

input[type=checkbox] {
    transition: 0.3s ease-in-out;
    appearance: none;
    width: 36px;
    height: 16px;
    border-radius: 12px;
    background: #3E3C39;
    cursor: pointer;
}

input[type=checkbox]::after {
    transition: 0.3s ease-in-out;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 16px;
    margin-left: 0;
    margin-top: -2px;
    background: var(--main-text-color);
}

input[type=checkbox]:checked {
    background: var(--ok-color);
}

input[type=checkbox]:checked::after {
    margin-left: 16px;
}

/* Sliders */
input[type="range"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 16px;
    /*  overflow: hidden;  remove this line*/

    /* New additions */
    height: 8px;
    background: var(--translucent-text-color);
}

input[type="range"].vertical-slider {
    writing-mode: vertical-lr;
    direction: rtl;
    height: unset;
    width: 8px;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    height: 16px;
    width: 16px;
    background-color: var(--thumb-color, var(--light-submit-color));
    border-radius: 50%;
    border: none;

    /* box-shadow: -407px 0 0 400px #f50; emove this line */
    transition: .2s ease-in-out;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    background-color: var(--thumb-color, var(--light-submit-color));
    border-radius: 50%;
    border: none;

    /* box-shadow: -407px 0 0 400px #f50; emove this line */
    transition: .2s ease-in-out;
}

/* Hover, active & focus Thumb: Webkit */

input[type="range"]::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px var(--translucent-thumb-color, var(--translucent-light-submit-color));
}
input[type="range"]:active::-webkit-slider-thumb, input[type="range"]:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px var(--translucent-thumb-color, var(--translucent-light-submit-color));
}

/* Hover, active & focus Thumb: Firfox */

input[type="range"]::-moz-range-thumb:hover {
    box-shadow: 0 0 0 10px var(--translucent-thumb-color, var(--translucent-light-submit-color));
}
input[type="range"]:active::-moz-range-thumb, input[type="range"]:focus::-moz-range-thumb {
    box-shadow: 0 0 0 13px var(--translucent-thumb-color, var(--translucent-light-submit-color));
}
/* /Sliders */