@font-face {
    font-family: JBRMono;
    src: url("./resources/font/JetBrainsMono-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: JBRMono;
    src: url("./resources/font/JetBrainsMono-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: JBRMono;
    src: url("./resources/font/JetBrainsMono-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: JBRMono;
    src: url("./resources/font/JetBrainsMono-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

:root {
    --main-bg-color: #101010;
    --translucent-main-bg-color: #10101080;
    --text-color: #f4f4f4;
    --translucent-text-color: #f4f4f480;
    --box-bg-color: #333c;
    --accent-color: #800020;
    --wall-color: #2653A7;
    --dark-submit-color: #157D26;
    --light-submit-color: #1B9822;
    --translucent-light-submit-color: #1B982240;
    --ok-color: #94BC0E;
    --red-color: #ff4d4d;  /* Red slider color */
    --green-color: #4dff4d; /* Green slider color */
    --blue-color: #4d4dff;  /* Blue slider color */
    --translucent-red-color: #ff4d4d40;  /* Red slider color */
    --translucent-green-color: #4dff4d40; /* Green slider color */
    --translucent-blue-color: #4d4dff40;  /* Blue slider color */

    --slider-track-height: 5px;
    --slider-thumb-size: 20px;
    --slider-thumb-border-radius: 50%;
}

body {
    background: var(--main-bg-color);
    color: var(--text-color);
    font-size: 12pt;
    font-family: JBRMono, Consolas, monospace;
    margin: 0;
    padding: 0;
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#visualizer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -20;
}

@keyframes rot {
    0% {
        transform: translateX(-50%) translateY(-50%);
    }
    50% {
        transform: translateX(150%) translateY(-50%);
    }
    100% {
        transform: translateX(-50%) translateY(-50%);
    }
}

#background-blocking-wall {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(32px);
    z-index: -10;
}

#content-container {
    gap: 128px;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#cc-mugshot-gallery, #cc-central-container, #cc-waveform {
    gap: 32px;
    height: 100%;
}

#cc-mugshot-gallery, #cc-waveform {
    background-color: var(--box-bg-color);
    padding: 0 32px;
}

.cc-mg-mugshot {
    transition: 0.3s ease-in-out;
    width: 128px;
    height: 128px;
    border-radius: 32px;
    cursor: pointer;
}

.cc-mg-mugshot:hover {
    filter: brightness(90%);
}

.cc-mg-mugshot.selected {
    filter: brightness(80%);
    transform: scale(95%);
}

#cc-central-container {
    width: 480px;
}

#cc-central-container footer {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    color: var(--translucent-text-color);
}

#cc-track-card, #cc-tc-caption-container, .marquee-container {
    width: 100%;
}

#cc-track-card {
    background: var(--box-bg-color);
    gap: 32px;
    padding: 32px;
    border-radius: 32px;
    max-width: 100%;
}

#cc-tc-img-controls {
    gap: 16px;
}

#cc-track-card h2, #cc-track-card p {
    margin: 0;
    padding: 0;
}

.cc-tc-ic-button {
    width: 32px;
    height: 32px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.cc-tc-ic-button:hover {
    transform: scale(90%);
}

#cc-tc-ic-prev {
    rotate: 180deg;
}

#cc-tc-ic-text {
    text-align: center;
    width: 160px;
}

#cc-tc-img-container {
    height: 280px;
    width: 280px;
    display: flex;
    justify-content: center;
}

#cc-tc-img {
    max-height: 100%;
    max-width: 100%;
}

#cc-tc-caption-container {
    padding: 0 32px;
}

#cc-tc-audio-controls-container {
    width: 100%;
    gap: 16px;
}

#cc-tc-audio-controls-container > div.flex-row {
    gap: 16px;
}

#cc-tc-audio-controls-duration {
    font-size: large;
}

#cc-tc-ac-du-outof {
    font-style: italic;
    color: var(--translucent-text-color);
}

#cc-tc-ac-audio-slider {
    width: 100%;
}


.cc-tc-ac-button {
    transition: all 0.3s ease-in-out;
    height: 56px;
    padding: 0 24px;
    border-radius: 4px;

    background: var(--light-submit-color);
    cursor: pointer;
}

#cc-tc-ac-buttons .cc-tc-ac-button:first-child,
    #cc-tc-ac-buttons .cc-tc-ac-button:last-child {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.cc-tc-ac-button:hover {
    background: #157D26;
    transform: scale(95%);
}

#cc-tc-ac-prev {
    rotate: 180deg;
}

#cc-tc-ac-play {
    height: 88px;
    border-radius: 16px;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.marquee-container {
    transition: 0.3s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.marquee-content.marquee {
    animation: marquee 10s linear infinite;
}

.marquee-content {
    display: inline-block;
}

#cc-wf-header {
    display: none;
}

#cc-wf-canvas {
    mix-blend-mode: screen;
}

#cc-wf-color {
    gap: 16px;
}

#cc-wf-color-sliders {
    gap: 32px;
    height: 256px;
}

#cc-wf-color-sliders .flex-column {
    gap: 32px;
}

#cc-wf-color-preview {
    gap: 32px;
}

#cc-wf-cpr-box {
    display: block;
    width: 24px;
    height: 24px;
    border: 2px solid var(--text-color);
    border-radius: 4px;
    background: var(--translucent-main-bg-color);
}

#settings {
    transition: 0.3s ease-in-out;
}

#se-blocking-wall {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--wall-color);
    mix-blend-mode: multiply;
    cursor: not-allowed;
}

#se-window {
    gap: 0;
    width: 480px;
    z-index: 101;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: var(--box-bg-color);
    padding: 32px;
    border-radius: 32px;
}

#se-wi-title-row {
    gap: 64px;
}

#se-form table, #se-form table th, #se-form table td {
    border-collapse: collapse;
}

#se-form table {
    width: 100%;
}

#se-form table th, #se-form table td {
    font-weight: normal;
    text-align: center;
}

#se-form table th {
    width: 70%;
}

#se-form .input-with-unit {
    gap: 16px;
}

input[type=checkbox] {
    transition: 0.3s ease-in-out;
    appearance: none;
    width: 36px;
    height: 16px;
    border-radius: 12px;
    background: var(--main-bg-color);
    cursor: pointer;
}

input[type=checkbox]::after {
    transition: 0.3s ease-in-out;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 16px;
    margin-left: 0;
    margin-top: -2px;
    background: var(--text-color);
}

input[type=checkbox]:checked {
    background: var(--ok-color);
}

input[type=checkbox]:checked::after {
    margin-left: 16px;
}

input[type=text], input[type=password], input[type=number] {
    text-align: center;
    background: var(--translucent-main-bg-color);
    border: 2px solid var(--text-color);
    border-radius: 4px;
    padding: 2px;
    font: inherit;
    color: inherit;
}

input[type=submit] {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background: var(--dark-submit-color);
    border: 2px solid var(--text-color);
    padding: 16px;
    border-radius: 80px;
    font: inherit;
    color: inherit;
}

input[type=submit]:hover {
    background: var(--light-submit-color);
}

#unsupported-width, #unsupported-height {
    display: none;
}

.error {
    color: indianred;
}

input[type="range"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 16px;
    /*  overflow: hidden;  remove this line*/

    /* New additions */
    height: 8px;
    background: var(--translucent-text-color);
}

input[type="range"].vertical-slider {
    writing-mode: vertical-lr;
    direction: rtl;
    height: unset;
    width: 8px;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    height: 16px;
    width: 16px;
    background-color: var(--thumb-color, var(--light-submit-color));
    border-radius: 50%;
    border: none;

    /* box-shadow: -407px 0 0 400px #f50; emove this line */
    transition: .2s ease-in-out;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    background-color: var(--thumb-color, var(--light-submit-color));
    border-radius: 50%;
    border: none;

    /* box-shadow: -407px 0 0 400px #f50; emove this line */
    transition: .2s ease-in-out;
}

/* Hover, active & focus Thumb: Webkit */

input[type="range"]::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px var(--translucent-thumb-color, var(--translucent-light-submit-color));
}
input[type="range"]:active::-webkit-slider-thumb, input[type="range"]:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px var(--translucent-thumb-color, var(--translucent-light-submit-color));
}

/* Hover, active & focus Thumb: Firfox */

input[type="range"]::-moz-range-thumb:hover {
    box-shadow: 0 0 0 10px var(--translucent-thumb-color, var(--translucent-light-submit-color));
}
input[type="range"]:active::-moz-range-thumb, input[type="range"]:focus::-moz-range-thumb {
    box-shadow: 0 0 0 13px var(--translucent-thumb-color, var(--translucent-light-submit-color));
}

/* Custom colors for each slider */
#cc-wf-cs-red {
    --track-color: var(--red-color);
    --thumb-color: var(--red-color);
    --translucent-thumb-color: var(--translucent-red-color);
}

#cc-wf-cs-green {
    --track-color: var(--green-color);
    --thumb-color: var(--green-color);
    --translucent-thumb-color: var(--translucent-green-color);
}

#cc-wf-cs-blue {
    --track-color: var(--blue-color);
    --thumb-color: var(--blue-color);
    --translucent-thumb-color: var(--translucent-blue-color);
}

@media screen and (max-width: 1280px) {
    #content-container {
        gap: 96px;
    }

    #cc-mugshot-gallery {
        padding: 0 16px;
        gap: 24px;
    }

    .cc-mg-mugshot {
        transition: 0.3s ease-in-out;
        width: 96px;
        height: 96px;
        border-radius: 24px;
        cursor: pointer;
    }

    #cc-tc-img-container {
        height: 240px;
        width: 240px;
    }

    #cc-central-container, #se-window {
        width: 400px;
    }
}

@media screen and (width < 960px) {
    #content-container {
        display: none;
    }

    #unsupported-width {
        display: flex;
    }
}

@media screen and (height < 900px) {
    #cc-wf-svg, #cc-central-container footer, #cc-central-container header {
        display: none;
    }

    #cc-wf-header {
        display: block;
        text-align: center;
        writing-mode: vertical-rl;
    }

    #cc-wf-header p {
        font-style: italic;
        font-size: smaller;
        color: var(--translucent-text-color);
    }
}

@media screen and (height < 720px) {
    #content-container {
        display: none;
    }

    #unsupported-height {
        display: flex;
    }
}