* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #101010;
    font-family: "Franklin Gothic", Verdana, Tahoma, sans-serif;
}

#p5-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

.content {
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-horiz {
    flex-direction: row;
}

.flex-spaced-row {
    width: 100%;
    height: fit-content;
    justify-content: space-between;
}

.flex-vert {
    flex-direction: column;
}

.black-box {
    padding: 32px;
    border-radius: 32px;
    color: #f4f4f4;
    background: #10101080;
    backdrop-filter: blur(32px);
    min-width: 480px;
}

.black-box.flex {
    gap: 16px;
}

.black-box h1, .black-box h2 {
    text-align: center;
}

.character-container {
    width: 320px;
    height: 320px;
    position: relative;
}

.character-container .character {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-button {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.icon-button:hover {
    transform: scale(110%);
}